<nav class="navbar navbar-expand-lg navbar-inverse">
    <a class="navbar-brand" routerLink="" style="font-size: 2rem;">FashionIsta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/aboutUs">About us</a>
            <a class="nav-item nav-link" routerLink="/contactus">Contact us</a>
        </div>
        <ng-container *ngIf="!userLoggedIn">
            <div class="nav navbar-nav navbar-right">
                <a class="nav-item nav-link" routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                <a class="nav-item nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                <a class="nav-item nav-link" href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a>
            </div>
        </ng-container>
        <ng-container *ngIf="userLoggedIn">
            <div class="nav navbar-nav navbar-right">
                <!-- <a class="nav-item nav-link" routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                <a class="nav-item nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a> -->
                <a><span class="glyphicon glyphicon-shopping-user"></span>Welcome, {{user.name}}</a>
                <a class="nav-item nav-link" href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a>
                <a class="btn btn-primary" (click)="logout()"><span class="glyphicon glyphicon-log-out" (click)="logout()"></span> Logout</a>
            </div>
        </ng-container>
    </div>
</nav>