<div class="container" style="margin-bottom: 11rem;">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-8">
            <!-- info -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center media media-bold">
                <div class="row">
                    <h3 class="media-bold noResult"><i>Who are we ?</i></h3>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>
                    <h3 class="media-bold noResult"><i>Our History</i></h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias ad asperiores quaerat repellat dolor pariatur, officia veritatis eius non vero fuga, ipsam animi, tempore praesentium. </p>

                    <!-- contact-us button -->
                    <a class="btn btn-warning margin-bottom" routerLink="/contact-us" style="align-self: center;"><i class=" glyphicon glyphicon-envelope " aria-hidden="true "></i>Contact Us</a>
                    <!-- button ends -->
                </div>

            </div>
            <!-- info ends -->
        </div>
    </div>
</div>